<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="INFO"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%t] %-5p %c{3} - %m%n"/>
    </layout>
  </appender>

  <appender name="async-console" class="org.apache.log4j.AsyncAppender">
    <param name="blocking" value="false"/>
    <appender-ref ref="console"/>
  </appender>

  <appender name="serverLog" class="org.apache.log4j.RollingFileAppender">
    <param name="Threshold" value="INFO"/>
    <param name="File" value="log/server.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="10"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%X{equipmentUin}] [%t] %-5p %c{3} [%X{pointTime}]: %m%n"/>
    </layout>
  </appender>

  <appender name="async-serverLog" class="org.apache.log4j.AsyncAppender">
    <param name="blocking" value="false"/>
    <appender-ref ref="serverLog"/>
  </appender>

  <appender name="transportLog" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/PetrosoftExternalAPIDebug.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="10"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%X{equipmentUin}] [%t] %-5p %c{3} [%X{pointTime}]: %m%n"/>
    </layout>
  </appender>

  <appender name="async-transportLog" class="org.apache.log4j.AsyncAppender">
    <param name="blocking" value="false"/>
    <appender-ref ref="transportLog"/>
  </appender>

  <appender name="transportErrorLog" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/PetrosoftExternalAPIError.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="100MB"/>
    <param name="MaxBackupIndex" value="10"/>

    <param name="Threshold" value="ERROR"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%X{equipmentUin}] [%t] %-5p %c{3} [%X{pointTime}]: %m%n"/>
    </layout>
  </appender>

  <appender name="async-transportErrorLog" class="org.apache.log4j.AsyncAppender">
    <param name="blocking" value="false"/>
    <appender-ref ref="transportErrorLog"/>
  </appender>

  <category name="org.springframework">
    <priority value="WARN"/>
  </category>

  <category name="org.apache.commons">
    <priority value="WARN"/>
  </category>

  <category name="net.sf.beanlib">
    <priority value="WARN"/>
  </category>

  <category name="net.sf.gilead">
    <priority value="WARN"/>
  </category>

  <category name="org.quartz">
    <priority value="WARN"/>
    <appender-ref ref="async-transportLog"/>
  </category>

  <category name="ru.csbi">
    <priority value="WARN"/>
    <appender-ref ref="async-transportLog"/>
  </category>

  <category name="ru.csbi.transport">
    <priority value="DEBUG"/>
  </category>

  <root>
    <priority value="INFO"/>
    <appender-ref ref="async-console"/>
    <appender-ref ref="async-serverLog"/>
    <appender-ref ref="async-transportErrorLog"/>
  </root>

</log4j:configuration>